<div class="container-small-card">
    <div class="container-small-card-content">
        <div class="small-card-foto">
            <img src="https://blog.rocketseat.com.br/content/images/2019/03/React-Hooks-Comoutilizar--motivac-o-es-eexemplos-pra-ticos.png"
                alt="" >
        </div>
        <div class="small-card-titulo">
            <h1><a href="#">Saiu a nova versão do Angular</a></h1>
        </div>
    </div>
    <div class="container-small-card-separador">
        <hr>
    </div>
</div>
